---
---
body {
    margin: 0;
    background-color: black;
}
#pic {
    background-size: cover/*contain*/;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    width: 100vw;
}
